.lenta {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 410px;

  .dean {
    position: relative;
    width: 100%;
    height: 214px;
    padding: 15px;
    margin-top: 10px;
    border: 7px solid $colorMain;
    border-radius: 15px;

    &__header {
      width: 180px;
      font-family: Montserrat, Helvetica, Arial, serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 125%;
      color: $colorTitle;
    }

    &__text {
      width: 55%;
      margin-bottom: 5px;
      font-family: Roboto, Helvetica, Arial, serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 130%;
      color: $colorText;
    }

    &__more {
      font-family: Roboto, Helvetica, Arial, serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 110%;
      color: $colorNavLink;
    }

    &__more:hover {
      color: $colorMain;
    }

    &__img {
      position: absolute;
      top: -19px;
      right: -1px;
    }
  }

  &__content {
    width: 100%;
    padding: 15px;
    border: 1px solid #efefef;
    border-radius: 15px;
  }

  .events {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__header {
      display: flex;
      justify-content: space-between;
      font-family: Montserrat, Helvetica, Arial, serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 27px;
      color: #1e2329;
    }

    &__more {
      font-family: Roboto, Helvetica, Arial, serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      color: $colorNavLink;
    }

    .event {
      display: flex;
      gap: 10px;
      justify-content: space-between;

      &__date {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding: 10px;
        color: #fff;
        background-color: $colorMain;
        border-radius: 5px;

        &-day,
        &-month {
          margin: 0;
          font-family: Roboto, Helvetica, Arial, serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
        }

        &-number {
          margin: 0;
          font-family: Roboto, Helvetica, Arial, serif;
          font-size: 40px;
          font-weight: 500;
          line-height: 47px;
        }
      }

      &__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: Montserrat, Helvetica, Arial, serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 142%;
        color: #1e2329;
      }

      &__more {
        font-family: Roboto, Helvetica, Arial, serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: $colorNavLink;
      }
    }
  }

  .video-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    .video-header {
      font-family: Montserrat, Helvetica, Arial, serif;
      font-size: 22px;
      font-weight: 600;
      line-height: 27px;
      color: #1e2329;
    }
  }

  .news-vstu {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__header {
      display: flex;
      gap: 10px;
      font-family: Montserrat, Helvetica, Arial, serif;
      font-size: 22px;
      font-weight: 600;
      line-height: 27px;
      color: $colorTitle;
      border-bottom: 2px solid $colorMain;
    }

    &__new {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-link {
        font-family: Roboto, Helvetica, Arial, serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: $colorText;
      }

      &-date {
        margin: 0;
        font-family: Roboto, Helvetica, Arial, serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        color: $colorNavLink;
      }
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;

    &__header {
      font-family: Montserrat, Helvetica, Arial, serif;
      font-size: 22px;
      font-weight: 600;
      line-height: 27px;
      color: $colorTitle;
      border-bottom: 2px solid $colorMain;
    }

    &__text {
      font-family: Roboto, Helvetica, Arial, serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 142%;
      color: $colorText;
    }

    &__mail,
    &__phone {
      display: flex;
      gap: 10px;
      font-family: Roboto, Helvetica, Arial, serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 153%;
      color: $colorNavLink;

      a {
        color: $colorText;
      }
    }

    &__feedback {
      font-family: Roboto, Helvetica, Arial, serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 153%;
      color: $colorText;
      text-decoration: underline;
    }
  }
}
