/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

.top-main {
  &__slider {
    position: relative;

    .slick-dots {
      position: absolute;
      bottom: 100px;
      left: 20px;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: flex-start;
      padding: 0;
      margin-top: 100px;
    }

    .slick-dots li {
      list-style: none;
    }

    .slick-dots button {
      width: 35px;
      height: 2px;
      font-size: 0;
      background: #e6e6e6;
      border: none;
      border-radius: 1px;
    }

    .slick-dots li.slick-active button {
      width: 35px;
      height: 6px;
      background: #8a2be2;
      border-radius: 7px;
    }
  }
}
