@media (max-width: 900px) {
  .header {
    .top-header {
      &__navbar-menu-item:nth-child(4),
      &__navbar-menu-item:nth-child(5),
      &__navbar-menu-item:nth-child(6),
      &__navbar-menu-item:nth-child(7),
      &__navbar-menu-item:nth-child(8) {
        display: none;
      }

      &__navbar-menu-adaptiv {
        display: flex;

        .item {
          display: flex;
          align-items: center;
          height: 50px;

          a {
            height: 100%;
          }

          img {
            width: 15px;
            height: 13px;
            padding: 0 0 0 7px;

            &.stroke-up {
              display: none;
            }
          }

          &:hover .stroke-down {
            display: none;
          }

          &:hover .stroke-up {
            display: block;
          }
        }

        .dropdown-top {
          position: absolute;
          top: 45px;
          display: none;
          flex-direction: column;
          gap: 7px;
          width: 80px;
          padding: 0 3px 3px;
          background: $colorVstu;
          border-radius: 0 0 5px 5px;
          box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
        }

        &:hover > .dropdown-top {
          display: flex;
        }
      }
    }

    .bottom-header {
      &__nav-menu {
        display: none;
      }

      .burger {
        display: flex;

        input {
          display: none;
        }

        img {
          display: flex;
          width: 30px;
          height: 18px;
          cursor: pointer;

          &.unchecked {
            display: none;
          }
        }

        input:checked {
          & ~ .unchecked {
            display: flex;
          }

          & ~ .checked {
            display: none;
          }
        }

        &-menu {
          position: absolute;
          top: 170px;
          right: 0;
          z-index: 1;
          display: none;
          flex-direction: column;
          width: 50%;
          background-color: #fff;

          &__header {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: space-between;
            padding: 0 30px 0 33px;
            box-shadow: inset 0 30px 30px -30px rgb(201 201 201 / 20%);

            .burger-title {
              font-family: Montserrat, Helvetica, Arial, serif;
              font-size: 28px;
              font-weight: 600;
              line-height: 39px;
              color: #1e2329;
            }

            .feedback-link {
              font-family: Roboto, Helvetica, Arial, serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 19px;
              color: $colorNavLink;
              text-align: right;
            }
          }

          &__element {
            border-top: 1px solid #fafafa;
            border-bottom: 1px solid #fafafa;

            &-link {
              display: block;
              padding: 0 30px 0 33px;
              font-family: Roboto, Helvetica, Arial, serif;
              font-size: 18px;
              font-weight: 400;
              line-height: 61px;
              color: $colorTitle;
              background: #fafafa;
            }

            label {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0 30px;
              font-family: Roboto, Helvetica, Arial, serif;
              font-size: 18px;
              font-weight: 400;
              line-height: 61px;
              cursor: pointer;
              border-left: 3px solid $colorMain;

              .stroke-down {
                display: none;
                width: 10px;
                height: 6px;
              }

              .stroke-up {
                display: block;
                width: 10px;
                height: 6px;
              }
            }

            input {
              display: none;
            }

            input:checked ~ label {
              border-left: 3px solid white;
            }

            input:checked ~ label .stroke-down {
              display: block;
            }

            input:checked ~ label .stroke-up {
              display: none;
            }

            .burger-menu-dropdown {
              display: flex;
              flex-direction: column;
              gap: 10px;

              a {
                padding: 0 30px 0 33px;
                font-family: Roboto, Helvetica, Arial, serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 43px;
                color: $colorNavLink;
              }
            }

            input:checked ~ .burger-menu-dropdown {
              display: none;
            }
          }

          &__footer {
            display: flex;
            justify-content: space-between;
            padding: 30px;
          }
        }

        &__language {
          label {
            color: #d9d9d9;
          }

          input:checked + label {
            color: #495471;
          }
        }

        input:checked ~ .burger-menu {
          display: flex;
        }
      }
    }
  }
}
