$colorMain: #434c63;
$colorNavLink: #c1c4ca;

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular\(400\).ttf");
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto/Roboto-Regular\(500\).ttf");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

li,
a {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 1290px;
  padding: 0 10px;
  margin: 0 auto;
}

.social-icon {
  display: flex;
  gap: 15px;
}

.language {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  font-family: Roboto, Helvetica, Arial, serif;
  font-size: 16px;
  font-weight: 500;

  input {
    display: none;
  }

  label {
    cursor: pointer;
  }
}

.header {
  font-family: Roboto, Helvetica, Arial, serif;
  font-weight: 400;

  .top-header {
    display: flex;
    font-size: 16px;
    line-height: 19px;
    background: $colorMain;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &__date {
      color: $colorNavLink;
    }

    &__navbar {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: space-between;

      &-menu {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        padding-left: 20px;

        &-adaptiv {
          display: none;
        }

        a {
          color: $colorNavLink;
        }
      }
    }

    &__tools {
      display: flex;
      gap: 20px;
      justify-content: space-between;

      .search-icon,
      .eye-icon {
        cursor: pointer;
      }
    }
  }

  .bottom-header {
    font-family: Roboto, Helvetica, Arial, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 10px;
    }

    &__language {
      label {
        color: #d9d9d9;
      }

      input:checked + label {
        color: #495471;
      }
    }

    &__nav-menu {
      display: flex;
      gap: 15px;
      justify-content: space-between;

      &-item {
        img {
          padding: 0 0 0 7px;

          &.stroke-up {
            display: none;
          }
        }

        &:hover {
          color: #8a2be2;
        }

        &:hover .stroke-down {
          display: none;
        }

        &:hover .stroke-up {
          display: block;
        }

        .menu-dropdown {
          position: absolute;
          top: 170px;
          left: 0;
          display: none;
          justify-content: center;
          width: 100%;
          height: 100vh;
          background: rgb(0 0 0 / 50%);

          .dropdown {
            display: flex;
            justify-content: space-between;
            max-width: 1290px;
            height: fit-content;
            padding: 40px;
            background: white;
            border-radius: 0 0 10px 10px;
            box-shadow: inset 0 30px 30px -30px rgb(201 201 201 / 20%);

            &__content-left {
              display: flex;
              flex-basis: 30%;
              flex-direction: column;
              justify-content: space-between;
            }

            &__content-middle {
              display: flex;
              flex-basis: 40%;
              flex-direction: column;
              justify-content: space-between;
              padding: 40px 20px 0;
            }

            &__content-right {
              display: flex;
              flex-basis: 30%;
              flex-direction: column;
              justify-content: space-between;
              padding-top: 55px;
            }

            &__elements {
              display: flex;
              justify-content: space-between;
            }

            &__title {
              font-family: Montserrat, Helvetica, Arial, serif;
              font-size: 18px;
              font-weight: 600;
              line-height: 22px;
              color: #1c1a1b;
            }

            &__text {
              margin-top: 0;
              font-family: Roboto, Helvetica, Arial, serif;
              font-size: 14px;
              font-weight: 400;
              line-height: 140%;
              color: #333e48;
            }

            &__img {
              padding: 0;
            }

            &__link {
              padding: 18px 0;
              font-family: Roboto, Helvetica, Arial, serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 19px;
              color: #1c1a1b;
              border-bottom: 1px solid #d9d9d9;

              &:hover {
                color: #8a2be2;
              }
            }
          }
        }

        &:hover > .menu-dropdown {
          display: flex;
        }
      }
    }

    .burger {
      display: none;
    }
  }
}

.footer {
  .top-footer {
    background: $colorMain;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 30px 10px 20px;
    }

    &__logo {
      width: 317px;
      height: 103px;
    }

    &__language {
      /* stylelint-disable-next-line no-descending-specificity */
      label {
        color: #6b758f;
      }

      input:checked + label {
        color: #fff;
      }
    }

    .footer-menu {
      display: flex;
      flex-basis: 20%;
      flex-direction: column;
      justify-content: space-between;

      &__title {
        font-family: Montserrat, Helvetica, Arial, serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        color: #fff;
      }

      &__link {
        font-family: Roboto, Helvetica, Arial, serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: $colorNavLink;
      }

      &__text {
        font-family: Roboto, Helvetica, Arial, serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 153%;
        color: $colorNavLink;
      }

      &__phonebook {
        font-family: Roboto, Helvetica, Arial, serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 153%;
        color: $colorNavLink;
        text-decoration: underline;
      }

      &__mail {
        color: $colorNavLink;
      }

      &__phone {
        color: $colorNavLink;
      }
    }

    .footer-adaptiv {
      display: none;
    }

    .delimiter {
      max-width: 1290px;
      padding: 15px 0;

      img {
        width: 100%;
      }
    }

    .top-section {
      display: flex;
      gap: 80px;
      justify-content: space-between;

      &__logo-address {
        display: flex;
        flex-basis: 30%;
        flex-direction: column;
        gap: 15px;

        .address {
          display: flex;
          flex-direction: column;
          gap: 15px;

          &__text {
            font-family: Roboto, Helvetica, Arial, serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 153%;
            color: $colorNavLink;
          }

          &__phone-mail {
            display: flex;
            flex-flow: row wrap;
            gap: 30px;

            a {
              color: #fff;
            }

            .phone {
              display: flex;
              gap: 10px;

              img {
                width: 11px;
                height: 18px;
              }
            }

            .mail {
              display: flex;
              gap: 10px;

              img {
                width: 18.67px;
                height: 14px;
              }
            }
          }
        }
      }
    }

    .middle-section {
      display: flex;
      gap: 80px;

      .footer-menu {
        &__main-building {
          flex-basis: 30%;
        }
      }

      .copyright {
        flex-basis: 20%;
        padding: 10px;
        font-family: Roboto, Helvetica, Arial, serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 153%;
        color: #6b758f;
      }
    }

    .bottom-section {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .bottom-footer {
    &__container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 25px 10px;
    }

    &__link {
      padding: 10px 0;
    }
  }
}

@media (max-width: 1220px) {
  .footer {
    .top-footer {
      .top-section,
      .middle-section {
        gap: 50px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .header {
    .top-header {
      font-size: 14px;
      line-height: 16px;
    }

    .bottom-header {
      font-size: 16px;
      line-height: 19px;
    }
  }

  .footer {
    .top-footer {
      .top-section {
        gap: 20px;
      }

      .middle-section {
        gap: 35px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .header {
    .top-header {
      &__navbar-menu {
        gap: 20px;
      }
    }

    .bottom-header {
      &__nav-menu {
        padding-left: 10px;

        &-item:nth-child(1) {
          display: none;
        }
      }
    }
  }

  .footer {
    .top-footer {
      .top-section {
        flex-direction: column;

        &__logo-address {
          flex-basis: 100%;
          flex-direction: row;
          justify-content: space-between;

          .address {
            align-items: flex-end;

            &__text {
              width: 65%;
              text-align: right;
            }

            .mail {
              padding-right: 5px;
            }
          }
        }

        .footer-menu {
          display: none;
        }

        .footer-adaptiv {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          &__menu {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 32%;
            padding-bottom: 20px;

            label {
              display: flex;
              align-items: center;
              justify-content: space-between;
              height: 72px;
              padding: 0 20px;
              font-family: Montserrat, Helvetica, Arial, serif;
              font-size: 18px;
              font-weight: 500;
              line-height: 22px;
              color: #fff;
              cursor: pointer;
              background: #495471;
              border-radius: 5px;

              .stroke-down {
                display: none;
              }

              .stroke-up {
                display: block;
              }
            }

            input {
              display: none;
            }

            input:checked ~ label .stroke-down {
              display: block;
            }

            input:checked ~ label .stroke-up {
              display: none;
            }

            .dropdown {
              display: flex;
              flex-direction: column;
              gap: 20px;
              padding-left: 20px;
              font-family: Roboto, Helvetica, Arial, serif;
              font-size: 18px;
              font-weight: 400;
              line-height: 21px;
              color: $colorNavLink;

              a {
                font-family: Roboto, Helvetica, Arial, serif;
                font-size: 18px;
                font-weight: 400;
                line-height: 21px;
                color: $colorNavLink;
              }
            }

            input:checked ~ .dropdown {
              display: none;
            }
          }
        }
      }

      .middle-section {
        .footer-menu {
          display: none;
        }

        .copyright {
          flex-basis: 100%;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .header {
    .top-header {
      &__navbar-menu-item:nth-child(4),
      &__navbar-menu-item:nth-child(5),
      &__navbar-menu-item:nth-child(6),
      &__navbar-menu-item:nth-child(7),
      &__navbar-menu-item:nth-child(8) {
        display: none;
      }

      &__navbar-menu-adaptiv {
        display: block;

        .item {
          display: flex;

          img {
            width: 15px;
            height: 13px;
            padding: 0 0 0 7px;

            &.stroke-up {
              display: none;
            }
          }

          &:hover .stroke-down {
            display: none;
          }

          &:hover .stroke-up {
            display: block;
          }
        }

        .dropdown {
          position: absolute;
          top: 35px;
          display: none;
          flex-direction: column;
          gap: 5px;
          width: 80px;
          padding: 0 3px 3px;
          background: $colorMain;
          border-radius: 0 0 5px 5px;
        }

        &:hover > .dropdown {
          display: flex;
        }
      }
    }

    .bottom-header {
      &__nav-menu {
        display: none;
      }

      .burger {
        display: flex;

        input {
          display: none;
        }

        img {
          display: flex;
          width: 30px;
          height: 18px;
          cursor: pointer;

          &.unchecked {
            display: none;
          }
        }

        input:checked {
          & ~ .unchecked {
            display: flex;
          }

          & ~ .checked {
            display: none;
          }
        }

        &-menu {
          position: absolute;
          top: 170px;
          left: 0;
          display: none;
          justify-content: flex-end;
          width: 100%;
          background: rgb(0 0 0 / 50%);

          &__content {
            display: flex;
            flex-direction: column;
            width: 50%;
            background: #fff;
          }

          &__header {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: space-between;
            padding: 0 30px 0 33px;
            box-shadow: inset 0 30px 30px -30px rgb(201 201 201 / 20%);

            .burger-title {
              font-family: Montserrat, Helvetica, Arial, serif;
              font-size: 28px;
              font-weight: 600;
              line-height: 39px;
              color: #1e2329;
            }

            .feedback-link {
              font-family: Roboto, Helvetica, Arial, serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 19px;
              color: #c4c4c4;
              text-align: right;
            }
          }

          &__element {
            border-top: 1px solid #fafafa;
            border-bottom: 1px solid #fafafa;

            &-link {
              display: block;
              padding: 0 30px 0 33px;
              font-family: Roboto, Helvetica, Arial, serif;
              font-size: 18px;
              font-weight: 400;
              line-height: 61px;
              color: #1c1a1b;
              background: #fafafa;
            }

            label {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0 30px;
              font-family: Roboto, Helvetica, Arial, serif;
              font-size: 18px;
              font-weight: 400;
              line-height: 61px;
              cursor: pointer;
              border-left: 3px solid #8a2be2;

              .stroke-down {
                display: none;
                width: 10px;
                height: 6px;
              }

              .stroke-up {
                display: block;
                width: 10px;
                height: 6px;
              }
            }

            /* stylelint-disable-next-line no-descending-specificity */
            input {
              display: none;
            }

            input:checked ~ label {
              border-left: 3px solid white;
            }

            input:checked ~ label .stroke-down {
              display: block;
            }

            input:checked ~ label .stroke-up {
              display: none;
            }

            .dropdown {
              display: flex;
              flex-direction: column;
              gap: 10px;

              a {
                padding: 0 30px 0 33px;
                font-family: Roboto, Helvetica, Arial, serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 43px;
                color: #c4c4c4;
              }
            }

            input:checked ~ .dropdown {
              display: none;
            }
          }

          &__footer {
            display: flex;
            justify-content: space-between;
            padding: 30px;
          }
        }

        &__language {
          /* stylelint-disable-next-line no-descending-specificity */
          label {
            color: #d9d9d9;
          }

          input:checked + label {
            color: #495471;
          }
        }

        input:checked ~ .burger-menu {
          display: flex;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    .top-footer {
      .top-section {
        &__logo-address {
          flex-direction: column;
          align-items: center;

          .address {
            align-items: center;

            &__text {
              width: 90%;
              text-align: center;
            }
          }
        }

        .footer-adaptiv {
          &__menu:nth-child(4),
          &__menu:nth-child(5),
          &__menu:nth-child(6) {
            width: 49%;
          }
        }
      }
    }
  }
}

@media (max-width: 685px) {
  .header .top-header__navbar {
    height: 55px;

    &-menu {
      display: none;
    }
  }
}

@media (max-width: 620px) {
  .header .bottom-header__navbar .burger {
    &__language {
      gap: 10px;
    }

    &__social-icon {
      gap: 0;
    }

    &-menu {
      &__header {
        display: none;
      }

      &__element {
        &-link {
          padding: 13px;
        }

        label {
          padding: 10px;
        }
      }

      &__footer {
        padding: 10px;
      }
    }
  }

  .footer .top-section .footer-adaptiv {
    flex-direction: column;

    &__menu {
      width: 100% !important;
    }
  }
}

@media (max-width: 480px) {
  .header .bottom-header__navbar .burger {
    &-menu__content {
      width: 100%;
    }
  }
}
