$colorTopNavBar: #c1c4ca;
$colorVstu: #434c63;
$colorMain: #8a2be2;
$colorCopyright: #6b758f;
$colorText: #333e48;

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Montserrat VariableFont_wght";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

html,
body,
p {
  padding: 0;
  margin: 0;
  font-family: "Roboto Light", Helvetica, Arial, serif;
}

a {
  color: $colorTopNavBar;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1290px;
  padding: 0 10px;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $colorTopNavBar;
    background: $colorVstu;

    .nav-logo {
      display: flex;
      font-size: 15px;
    }

    .nav-menu {
      display: flex;
      gap: 38px;
      justify-content: flex-end;
      font-size: 14px;
      white-space: nowrap;

      li,
      a {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  .bottom-navbar {
    display: flex;
    align-items: center;
    height: 122px;
    color: #2e2e2e;
    background: #fff;
    box-shadow: 2px 8px 30px rgb(201 201 201 / 20%);

    .burger {
      display: none;
      width: 32px;
      height: 32px;
      padding: 0 0 0 calc(100% - 265px);

      input {
        display: none;
      }

      img {
        display: flex;
        width: 30px;
        height: 18px;
        cursor: pointer;

        &.unchecked {
          display: none;
        }
      }

      input:checked {
        & ~ .unchecked {
          display: flex;
        }

        & ~ .checked {
          display: none;
        }
      }

      .menu {
        .menu-content {
          a,
          h1,
          label {
            padding: 0 30px;
            font-size: 18px;
            line-height: 21px;
            color: #1c1a1b;
          }

          .menu-header {
            display: flex;
            align-items: center;

            h1 {
              width: 100px;
              font-size: 28px;
              line-height: 39px;
              color: #1e2329;
            }

            .feedback {
              width: calc(100% - 100px);
              color: #c4c4c4;
              text-align: right;
            }
          }

          .menu-element {
            border: 0 1px solid #fafafa;

            & > a {
              display: block;
              line-height: 61px;
              background: #fafafa;
            }

            label {
              display: flex;
              align-items: center;
              justify-content: space-between;
              line-height: 61px;
              cursor: pointer;
              border-left: 3px solid $colorMain;

              .stroke-down {
                display: none;
                width: 10px;
                height: 6px;
              }

              .stroke-up {
                display: block;
                width: 10px;
                height: 6px;
              }
            }

            input {
              display: none;
            }

            input:checked ~ label {
              border-left: 3px solid white;
            }

            input:checked ~ label .stroke-down {
              display: block;
            }

            input:checked ~ label .stroke-up {
              display: none;
            }

            .dropdown {
              gap: 10px;

              a {
                line-height: 61px;
                color: $colorTopNavBar;
              }
            }

            input:checked ~ .dropdown {
              display: none;
            }
          }

          .bottom-menu-element {
            display: flex;

            .language,
            .social-icons {
              display: flex;
              gap: 10px;
              width: 50%;
              margin: 25px;

              /* a,
              label {
                padding: 0;
              } */
            }

            .language {
              justify-content: flex-end;
              font-size: 18px;
              font-weight: 600;
              line-height: 120%;

              /* stylelint-disable-next-line no-descending-specificity */
              label {
                color: #d9d9d9;
                cursor: pointer;
              }

              input {
                display: none;
              }

              input:checked + label {
                color: #495471;
              }
            }
          }
        }
      }
    }

    .bottom-logo {
      display: flex;
      align-items: center;
      width: 270px;

      img {
        height: 90px;

        &:nth-child(2) {
          height: 45px;
          padding: 8px;
        }
      }

      .bottom-text1 {
        font-size: 10.6px;
        font-weight: bold;
        color: $colorMain;
      }

      .bottom-text2 {
        font-size: 14.1px;
        font-weight: bold;
        color: #2e2e2e;
      }
    }

    .bottom-menu {
      display: flex;
      gap: 25px;
      justify-content: flex-end;
      height: 100%;
      font-weight: bold;
      color: #1c1a1b;

      li {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          color: $colorMain;
        }

        /* stylelint-disable-next-line no-descending-specificity */
        img {
          width: 10.12px;
          height: 6.12px;
          padding: 0 0 0 7px;

          &.stroke-up {
            display: none;
          }
        }

        .menu-dropdown {
          position: absolute;
          top: 170px;
          left: 0;
          display: none;
          justify-content: center;
          width: 100%;
          height: 100vh;
          background: rgb(0 0 0 / 50%);

          .menu-dropdown-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 1290px;
            height: fit-content;
            padding: 40px;
            background: white;
            border-radius: 0 0 10px 10px;
            box-shadow: inset 0 30px 30px -30px rgb(201 201 201 / 20%);

            .h3 {
              font-family: "Montserrat VariableFont_wght", Helvetica, Arial, serif;
              color: black;
            }

            .dropdown-content {
              display: flex;
              justify-content: space-between;
              width: 100%;

              >div {
                display: flex;
                flex-direction: column;
                width: calc((100% - 80px)/3);
                color: #1c1a1b;

                img {
                  width: 100%;
                  height: 175px;
                  padding: 0;
                  margin-top: 15px;
                  border-radius: 5px;
                }

                p {
                  margin-top: 15px;
                  font-size: 14px;
                  line-height: 140%;
                  color: $colorText;
                }

                /* stylelint-disable-next-line no-descending-specificity */
                a {
                  padding: 18px 0;
                  line-height: 19px;
                  color: black;
                  border-bottom: 1px solid #d9d9d9;

                  &:hover {
                    color: $colorMain;
                  }
                }

                .social-element {
                  display: flex;
                  height: 100%;

                  .language,
                  .social-icons {
                    display: flex;
                    gap: 10px;
                    align-items: flex-end;
                    width: 50%;
                    height: 100%;

                    a,
                    label {
                      padding: 0;
                      border: 0;

                      img {
                        width: 24px;
                        height: 18px;
                      }
                    }
                  }

                  .language {
                    justify-content: flex-end;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 120%;

                    input {
                      display: none;
                    }

                    input:checked + label {
                      color: #495471;
                    }

                    /* stylelint-disable-next-line no-descending-specificity */
                    label {
                      color: #d9d9d9;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
        }

        &:hover > .menu-dropdown {
          display: flex;
        }

        /* stylelint-disable-next-line no-descending-specificity */
        &:hover .stroke-down {
          display: none;
        }

        /* stylelint-disable-next-line no-descending-specificity */
        &:hover .stroke-up {
          display: block;
        }
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: #fafafa no-repeat url("../img/illustrations.png");
  background-size: 100% 600px;

  .container {
    flex-wrap: wrap;
    padding: 0;
  }

  .lenta {
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;

    .news-text {
      width: calc(100% - 740px);
      margin-left: 10px;
    }

    .news-img {
      width: 740px;
      height: 600px;
      overflow: hidden;

      /* stylelint-disable-next-line no-descending-specificity */
      img {
        width: 740px;
        height: 600px;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  color: $colorTopNavBar;
  background: $colorVstu;

  .container {
    width: calc(100% - 20px);
  }

  section {
    display: flex;
    justify-content: center;

    .section-content {
      display: flex;
      //width: 100%;
      padding: 30px 0;

      &.padding-0 .separator {
        width: 100%;
        max-width: 1290px;
      }

      /* .separator {
        width: 100%;
      } */
    }

    &.section1 {
      .section-content {
        justify-content: space-between;

        .footer-menu {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 20%;
          font-size: 16px;

          &:nth-child(1) {
            width: 35%;
          }

          h3 {
            color: #fff;
          }

          .bottom-logo {
            display: flex;
            align-items: center;

            img {
              height: 90px;

              &:nth-child(2) {
                height: 45px;
                padding: 8px;
              }
            }

            .logo-text1 {
              font-size: 10.6px;
              font-weight: bold;
              color: $colorTopNavBar;
            }

            .logo-text2 {
              font-size: 14.1px;
              font-weight: bold;
              color: #fff;
            }
          }

          .address {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .phone-mail {
              display: flex;
              flex-wrap: wrap;
              gap: 5px;
              color: #fff;
              white-space: nowrap;

              & > div {
                display: flex;
                gap: 5px;

                a {
                  margin-right: 20px;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }

    &.adaptive {
      display: none;
    }

    &.section2 {
      .section-content {
        justify-content: space-between;

        .footer-menu {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 20%;
          font-size: 16px;

          &:nth-child(1) {
            width: 35%;
          }

          h3 {
            color: #fff;
          }

          .phoneNumber {
            text-decoration: underline;
          }
        }

        .copyright {
          width: 20%;
          font-size: 14px;
          color: $colorCopyright;
        }
      }
    }

    &.section3 {
      //width: 100%;

      .section-content {
        //display: flex;
        justify-content: space-between;
        //width: 100%;

        .language,
        .social-icons {
          display: flex;
          gap: 20px;
          width: 50%;
        }

        .language {
          justify-content: flex-end;

          input {
            display: none;
          }

          input:checked + label {
            color: #fff;
          }

          label {
            cursor: pointer;
          }
        }
      }
    }

    &.section4 {
      align-items: center;
      justify-content: center;
      background: #fff;

      .section-content {
        flex-wrap: wrap;
        gap: 0 50px;
        width: auto;

        img {
          height: 42px;
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  nav .navbar .nav-menu,
  nav .bottom-navbar .bottom-menu {
    gap: 20px;
  }
}

@media (max-width: 1150px) {
  nav .bottom-navbar .bottom-menu {
    li.hide-1150 {
      display: none;
    }
  }
}

@media (max-width: 1100px) {
  nav .navbar {
    padding: 0 10px;

    .nav-menu {
      gap: 15px;
    }
  }

  nav .bottom-navbar {
    padding: 0 10px;
  }

  footer {
    section {
      .section-content.padding-0 {
        padding: 20px 10px;
      }

      &.section4 {
        padding: 30px 0;

        .section-content {
          gap: 30px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  nav {
    .navbar {
      .nav-menu {
        li.hide-768 {
          display: none;
        }
      }
    }

    .bottom-navbar {
      .burger {
        display: flex;

        .menu {
          position: absolute;
          top: 170px;
          left: 0;
          display: none;
          justify-content: flex-end;
          width: 100%;
          background: rgb(0 0 0 / 50%);

          .menu-content {
            display: flex;
            flex-direction: column;
            width: 50%;
            background: #fff;

            .menu-header {
              box-shadow: inset 0 30px 30px -30px rgb(201 201 201 / 20%);
            }

            .menu-element .dropdown {
              display: flex;
              flex-direction: column;
            }
          }
        }

        input:checked ~ .menu {
          display: flex;
        }
      }

      .bottom-menu {
        display: none;
      }
    }
  }

  footer section {
    .section-content {
      padding: 20px;
    }

    &.section1 {
      width: 100%;

      .section-content .footer-menu {
        display: none;

        &:nth-child(1) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          .bottom-logo {
            width: 50%;
            height: 103px;
          }

          .address {
            width: 371px;
            height: 143px;
            line-height: 24.48px;
            text-align: right;

            .phone-mail {
              justify-content: end;
              margin-right: 5px;
            }
          }
        }
      }
    }

    &.adaptive {
      display: flex;

      .section-content {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;

        .footer-menu {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 32%;
          padding-bottom: 20px;

          label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 72px;
            padding: 0 20px;
            cursor: pointer;
            background: #495471;
            border-radius: 5px;

            .stroke-down {
              display: none;
            }

            .stroke-up {
              display: block;
            }
          }

          input {
            display: none;
          }

          input:checked ~ label .stroke-down {
            display: block;
          }

          input:checked ~ label .stroke-up {
            display: none;
          }

          input:checked ~ .dropdown {
            display: none;
          }

          & > div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-left: 20px;
          }
        }

        .phoneNumber {
          text-decoration: underline;
        }
      }
    }

    &.section2 .section-content {
      .footer-menu {
        display: none;
      }

      .copyright {
        width: 100%;
        text-align: center;
      }
    }

    &.section3 {
      padding: 0 0 20px;
    }
  }
}

@media (max-width: 768px) {
  nav .bottom-navbar .burger .menu .menu-content {
    width: 100%;
  }

  footer section {
    &.section1 .section-content {
      .footer-menu {
        &:nth-child(1) {
          width: auto;

          .address {
            width: auto;
            height: auto;

            .phone-mail {
              white-space: inherit;

              a {
                margin: 0;
              }
            }
          }
        }
      }
    }

    &.adaptive .section-content {
      .footer-menu:nth-child(4),
      .footer-menu:nth-child(5),
      .footer-menu:nth-child(6) {
        width: 49%;
      }
    }

    &.section4 .section-content {
      gap: 30px;

      a {
        width: 320px;
      }
    }
  }
}

@media (max-width: 480px) {
  nav {
    .navbar {
      .nav-logo {
        font-size: 14px;
      }

      .nav-menu {
        li.hide-480 {
          display: none;
        }
      }
    }

    .bottom-navbar .burger .menu .menu-content .menu-header {
      display: none;
    }
  }

  footer section {
    &.section1 .section-content .footer-menu:nth-child(1) {
      flex-direction: column;
      align-items: center;

      .bottom-logo {
        width: 240px;
      }

      .address {
        text-align: center;

        .phone-mail {
          justify-content: center;
          margin: 0;

          div:nth-child(2) {
            margin-left: 15px;
          }
        }
      }
    }

    &.adaptive .section-content {
      flex-direction: column;

      .footer-menu {
        width: 100% !important;
      }
    }

    &.section4 .section-content a {
      width: auto;
    }
  }
}
