@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Montserrat VariableFont_wght";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}
html,
body,
p {
  padding: 0;
  margin: 0;
  font-family: "Roboto Light", Helvetica, Arial, serif;
}

a {
  color: #c1c4ca;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1290px;
  padding: 0 10px;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c1c4ca;
  background: #434c63;
}
nav .navbar .nav-logo {
  display: flex;
  font-size: 15px;
}
nav .navbar .nav-menu {
  display: flex;
  gap: 38px;
  justify-content: flex-end;
  font-size: 14px;
  white-space: nowrap;
}
nav .navbar .nav-menu li,
nav .navbar .nav-menu a {
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav .bottom-navbar {
  display: flex;
  align-items: center;
  height: 122px;
  color: #2e2e2e;
  background: #fff;
  box-shadow: 2px 8px 30px rgba(201, 201, 201, 0.2);
}
nav .bottom-navbar .burger {
  display: none;
  width: 32px;
  height: 32px;
  padding: 0 0 0 calc(100% - 265px);
}
nav .bottom-navbar .burger input {
  display: none;
}
nav .bottom-navbar .burger img {
  display: flex;
  width: 30px;
  height: 18px;
  cursor: pointer;
}
nav .bottom-navbar .burger img.unchecked {
  display: none;
}
nav .bottom-navbar .burger input:checked ~ .unchecked {
  display: flex;
}
nav .bottom-navbar .burger input:checked ~ .checked {
  display: none;
}
nav .bottom-navbar .burger .menu .menu-content a,
nav .bottom-navbar .burger .menu .menu-content h1,
nav .bottom-navbar .burger .menu .menu-content label {
  padding: 0 30px;
  font-size: 18px;
  line-height: 21px;
  color: #1c1a1b;
}
nav .bottom-navbar .burger .menu .menu-content .menu-header {
  display: flex;
  align-items: center;
}
nav .bottom-navbar .burger .menu .menu-content .menu-header h1 {
  width: 100px;
  font-size: 28px;
  line-height: 39px;
  color: #1e2329;
}
nav .bottom-navbar .burger .menu .menu-content .menu-header .feedback {
  width: calc(100% - 100px);
  color: #c4c4c4;
  text-align: right;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element {
  border: 0 1px solid #fafafa;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element > a {
  display: block;
  line-height: 61px;
  background: #fafafa;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 61px;
  cursor: pointer;
  border-left: 3px solid #8a2be2;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element label .stroke-down {
  display: none;
  width: 10px;
  height: 6px;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element label .stroke-up {
  display: block;
  width: 10px;
  height: 6px;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element input {
  display: none;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element input:checked ~ label {
  border-left: 3px solid white;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element input:checked ~ label .stroke-down {
  display: block;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element input:checked ~ label .stroke-up {
  display: none;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element .dropdown {
  gap: 10px;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element .dropdown a {
  line-height: 61px;
  color: #c1c4ca;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element input:checked ~ .dropdown {
  display: none;
}
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element {
  display: flex;
}
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element .language,
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element .social-icons {
  display: flex;
  gap: 10px;
  width: 50%;
  margin: 25px;
  /* a,
  label {
    padding: 0;
  } */
}
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element .language {
  justify-content: flex-end;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  /* stylelint-disable-next-line no-descending-specificity */
}
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element .language label {
  color: #d9d9d9;
  cursor: pointer;
}
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element .language input {
  display: none;
}
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element .language input:checked + label {
  color: #495471;
}
nav .bottom-navbar .bottom-logo {
  display: flex;
  align-items: center;
  width: 270px;
}
nav .bottom-navbar .bottom-logo img {
  height: 90px;
}
nav .bottom-navbar .bottom-logo img:nth-child(2) {
  height: 45px;
  padding: 8px;
}
nav .bottom-navbar .bottom-logo .bottom-text1 {
  font-size: 10.6px;
  font-weight: bold;
  color: #8a2be2;
}
nav .bottom-navbar .bottom-logo .bottom-text2 {
  font-size: 14.1px;
  font-weight: bold;
  color: #2e2e2e;
}
nav .bottom-navbar .bottom-menu {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  height: 100%;
  font-weight: bold;
  color: #1c1a1b;
}
nav .bottom-navbar .bottom-menu li {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* stylelint-disable-next-line no-descending-specificity */
  /* stylelint-disable-next-line no-descending-specificity */
  /* stylelint-disable-next-line no-descending-specificity */
}
nav .bottom-navbar .bottom-menu li:hover {
  color: #8a2be2;
}
nav .bottom-navbar .bottom-menu li img {
  width: 10.12px;
  height: 6.12px;
  padding: 0 0 0 7px;
}
nav .bottom-navbar .bottom-menu li img.stroke-up {
  display: none;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown {
  position: absolute;
  top: 170px;
  left: 0;
  display: none;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1290px;
  height: fit-content;
  padding: 40px;
  background: white;
  border-radius: 0 0 10px 10px;
  box-shadow: inset 0 30px 30px -30px rgba(201, 201, 201, 0.2);
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .h3 {
  font-family: "Montserrat VariableFont_wght", Helvetica, Arial, serif;
  color: black;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div {
  display: flex;
  flex-direction: column;
  width: calc((100% - 80px) / 3);
  color: #1c1a1b;
  /* stylelint-disable-next-line no-descending-specificity */
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div img {
  width: 100%;
  height: 175px;
  padding: 0;
  margin-top: 15px;
  border-radius: 5px;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div p {
  margin-top: 15px;
  font-size: 14px;
  line-height: 140%;
  color: #333e48;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div a {
  padding: 18px 0;
  line-height: 19px;
  color: black;
  border-bottom: 1px solid #d9d9d9;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div a:hover {
  color: #8a2be2;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element {
  display: flex;
  height: 100%;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language,
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .social-icons {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  width: 50%;
  height: 100%;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language a,
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language label,
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .social-icons a,
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .social-icons label {
  padding: 0;
  border: 0;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language a img,
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language label img,
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .social-icons a img,
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .social-icons label img {
  width: 24px;
  height: 18px;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language {
  justify-content: flex-end;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  /* stylelint-disable-next-line no-descending-specificity */
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language input {
  display: none;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language input:checked + label {
  color: #495471;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language label {
  color: #d9d9d9;
  cursor: pointer;
}
nav .bottom-navbar .bottom-menu li:hover > .menu-dropdown {
  display: flex;
}
nav .bottom-navbar .bottom-menu li:hover .stroke-down {
  display: none;
}
nav .bottom-navbar .bottom-menu li:hover .stroke-up {
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: #fafafa no-repeat url("../img/illustrations.png");
  background-size: 100% 600px;
}
.content .container {
  flex-wrap: wrap;
  padding: 0;
}
.content .lenta {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
}
.content .lenta .news-text {
  width: calc(100% - 740px);
  margin-left: 10px;
}
.content .lenta .news-img {
  width: 740px;
  height: 600px;
  overflow: hidden;
  /* stylelint-disable-next-line no-descending-specificity */
}
.content .lenta .news-img img {
  width: 740px;
  height: 600px;
}

footer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  color: #c1c4ca;
  background: #434c63;
}
footer .container {
  width: calc(100% - 20px);
}
footer section {
  display: flex;
  justify-content: center;
}
footer section .section-content {
  display: flex;
  padding: 30px 0;
  /* .separator {
    width: 100%;
  } */
}
footer section .section-content.padding-0 .separator {
  width: 100%;
  max-width: 1290px;
}
footer section.section1 .section-content {
  justify-content: space-between;
}
footer section.section1 .section-content .footer-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;
  font-size: 16px;
}
footer section.section1 .section-content .footer-menu:nth-child(1) {
  width: 35%;
}
footer section.section1 .section-content .footer-menu h3 {
  color: #fff;
}
footer section.section1 .section-content .footer-menu .bottom-logo {
  display: flex;
  align-items: center;
}
footer section.section1 .section-content .footer-menu .bottom-logo img {
  height: 90px;
}
footer section.section1 .section-content .footer-menu .bottom-logo img:nth-child(2) {
  height: 45px;
  padding: 8px;
}
footer section.section1 .section-content .footer-menu .bottom-logo .logo-text1 {
  font-size: 10.6px;
  font-weight: bold;
  color: #c1c4ca;
}
footer section.section1 .section-content .footer-menu .bottom-logo .logo-text2 {
  font-size: 14.1px;
  font-weight: bold;
  color: #fff;
}
footer section.section1 .section-content .footer-menu .address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer section.section1 .section-content .footer-menu .address .phone-mail {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  color: #fff;
  white-space: nowrap;
}
footer section.section1 .section-content .footer-menu .address .phone-mail > div {
  display: flex;
  gap: 5px;
}
footer section.section1 .section-content .footer-menu .address .phone-mail > div a {
  margin-right: 20px;
  color: #fff;
}
footer section.adaptive {
  display: none;
}
footer section.section2 .section-content {
  justify-content: space-between;
}
footer section.section2 .section-content .footer-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;
  font-size: 16px;
}
footer section.section2 .section-content .footer-menu:nth-child(1) {
  width: 35%;
}
footer section.section2 .section-content .footer-menu h3 {
  color: #fff;
}
footer section.section2 .section-content .footer-menu .phoneNumber {
  text-decoration: underline;
}
footer section.section2 .section-content .copyright {
  width: 20%;
  font-size: 14px;
  color: #6b758f;
}
footer section.section3 .section-content {
  justify-content: space-between;
}
footer section.section3 .section-content .language,
footer section.section3 .section-content .social-icons {
  display: flex;
  gap: 20px;
  width: 50%;
}
footer section.section3 .section-content .language {
  justify-content: flex-end;
}
footer section.section3 .section-content .language input {
  display: none;
}
footer section.section3 .section-content .language input:checked + label {
  color: #fff;
}
footer section.section3 .section-content .language label {
  cursor: pointer;
}
footer section.section4 {
  align-items: center;
  justify-content: center;
  background: #fff;
}
footer section.section4 .section-content {
  flex-wrap: wrap;
  gap: 0 50px;
  width: auto;
}
footer section.section4 .section-content img {
  height: 42px;
}

@media (max-width: 1250px) {
  nav .navbar .nav-menu,
nav .bottom-navbar .bottom-menu {
    gap: 20px;
  }
}
@media (max-width: 1150px) {
  nav .bottom-navbar .bottom-menu li.hide-1150 {
    display: none;
  }
}
@media (max-width: 1100px) {
  nav .navbar {
    padding: 0 10px;
  }
  nav .navbar .nav-menu {
    gap: 15px;
  }

  nav .bottom-navbar {
    padding: 0 10px;
  }

  footer section .section-content.padding-0 {
    padding: 20px 10px;
  }
  footer section.section4 {
    padding: 30px 0;
  }
  footer section.section4 .section-content {
    gap: 30px;
  }
}
@media (max-width: 1000px) {
  nav .navbar .nav-menu li.hide-768 {
    display: none;
  }
  nav .bottom-navbar .burger {
    display: flex;
  }
  nav .bottom-navbar .burger .menu {
    position: absolute;
    top: 170px;
    left: 0;
    display: none;
    justify-content: flex-end;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  nav .bottom-navbar .burger .menu .menu-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    background: #fff;
  }
  nav .bottom-navbar .burger .menu .menu-content .menu-header {
    box-shadow: inset 0 30px 30px -30px rgba(201, 201, 201, 0.2);
  }
  nav .bottom-navbar .burger .menu .menu-content .menu-element .dropdown {
    display: flex;
    flex-direction: column;
  }
  nav .bottom-navbar .burger input:checked ~ .menu {
    display: flex;
  }
  nav .bottom-navbar .bottom-menu {
    display: none;
  }

  footer section .section-content {
    padding: 20px;
  }
  footer section.section1 {
    width: 100%;
  }
  footer section.section1 .section-content .footer-menu {
    display: none;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .bottom-logo {
    width: 50%;
    height: 103px;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .address {
    width: 371px;
    height: 143px;
    line-height: 24.48px;
    text-align: right;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .address .phone-mail {
    justify-content: end;
    margin-right: 5px;
  }
  footer section.adaptive {
    display: flex;
  }
  footer section.adaptive .section-content {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }
  footer section.adaptive .section-content .footer-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 32%;
    padding-bottom: 20px;
  }
  footer section.adaptive .section-content .footer-menu label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding: 0 20px;
    cursor: pointer;
    background: #495471;
    border-radius: 5px;
  }
  footer section.adaptive .section-content .footer-menu label .stroke-down {
    display: none;
  }
  footer section.adaptive .section-content .footer-menu label .stroke-up {
    display: block;
  }
  footer section.adaptive .section-content .footer-menu input {
    display: none;
  }
  footer section.adaptive .section-content .footer-menu input:checked ~ label .stroke-down {
    display: block;
  }
  footer section.adaptive .section-content .footer-menu input:checked ~ label .stroke-up {
    display: none;
  }
  footer section.adaptive .section-content .footer-menu input:checked ~ .dropdown {
    display: none;
  }
  footer section.adaptive .section-content .footer-menu > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
  }
  footer section.adaptive .section-content .phoneNumber {
    text-decoration: underline;
  }
  footer section.section2 .section-content .footer-menu {
    display: none;
  }
  footer section.section2 .section-content .copyright {
    width: 100%;
    text-align: center;
  }
  footer section.section3 {
    padding: 0 0 20px;
  }
}
@media (max-width: 768px) {
  nav .bottom-navbar .burger .menu .menu-content {
    width: 100%;
  }

  footer section.section1 .section-content .footer-menu:nth-child(1) {
    width: auto;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .address {
    width: auto;
    height: auto;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .address .phone-mail {
    white-space: inherit;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .address .phone-mail a {
    margin: 0;
  }
  footer section.adaptive .section-content .footer-menu:nth-child(4),
footer section.adaptive .section-content .footer-menu:nth-child(5),
footer section.adaptive .section-content .footer-menu:nth-child(6) {
    width: 49%;
  }
  footer section.section4 .section-content {
    gap: 30px;
  }
  footer section.section4 .section-content a {
    width: 320px;
  }
}
@media (max-width: 480px) {
  nav .navbar .nav-logo {
    font-size: 14px;
  }
  nav .navbar .nav-menu li.hide-480 {
    display: none;
  }
  nav .bottom-navbar .burger .menu .menu-content .menu-header {
    display: none;
  }

  footer section.section1 .section-content .footer-menu:nth-child(1) {
    flex-direction: column;
    align-items: center;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .bottom-logo {
    width: 240px;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .address {
    text-align: center;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .address .phone-mail {
    justify-content: center;
    margin: 0;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .address .phone-mail div:nth-child(2) {
    margin-left: 15px;
  }
  footer section.adaptive .section-content {
    flex-direction: column;
  }
  footer section.adaptive .section-content .footer-menu {
    width: 100% !important;
  }
  footer section.section4 .section-content a {
    width: auto;
  }
}

/*# sourceMappingURL=style.css.map */
