$colorTopNavBar: #C1C4CA;
$colorVstu: #434C63;
$colorMain: #8A2BE2;
$colorCopyright: #6B758F;



@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Light.ttf);
}

html,
body,
p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: $colorTopNavBar;
}

ul {
  list-style: none;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;

  .navbar {
    display: flex;
    align-items: center;
    background: $colorVstu;
    padding: 0 10%;
    height: 48px;
    color: $colorTopNavBar;

    .nav-logo {
      display: flex;
      width: 230px;
      font-size: 15px;
    }

    .nav-menu {
      display: flex;
      justify-content: flex-end;
      gap: 38px;
      width: calc(100% - 230px);
      font-size: 14px;
      white-space: nowrap;

      li,
      a {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  .bottom-navbar {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0 10%;
    height: 122px;
    color: #2E2E2E;
    box-shadow: 2px 8px 30px rgba(201, 201, 201, 0.2);
    //box-shadow: 0 10px 50px 15px rgba(0, 0, 0, 0.03);

    .bottom-logo {
      display: flex;
      align-items: center;

      img {
        height: 90px;

        &:nth-child(2) {
          height: 45px;
          padding: 8px;
        }
      }

      .bottom-text1 {
        color: $colorMain;
        font-size: 10.6px;
        font-weight: bold;
      }

      .bottom-text2 {
        color: #2E2E2E;
        font-size: 14.1px;
        font-weight: bold;
      }
    }

    .burger {
      display: none;
      width: 32px;
      height: 32px;
      padding: 0 0 0 calc(100% - 265px);

      input {
        display: none;
      }

      img {
        display: flex;
        width: 30px;
        height: 18px;
        cursor: pointer;

        &.unchecked {
          display: none;
        }
      }

      input:checked {
        &~.unchecked {
          display: flex;
        }

        &~.checked {
          display: none;
        }
      }

      .menu {
        .menu-content {

          a,
          h1,
          label {
            color: #1C1A1B;
            padding: 0 30px;
            font-size: 18px;
            line-height: 21px;
          }

          .menu-header {
            display: flex;
            align-items: center;

            h1 {
              font-size: 28px;
              line-height: 39px;
              color: #1E2329;
              width: 100px;
            }

            .feedback {
              width: calc(100% - 100px);
              color: #C4C4C4;
              text-align: right;
            }
          }

          .menu-element {
            border: 0 1px solid #FAFAFA;

            &>a {
              display: block;
              line-height: 61px;
              background: #FAFAFA;
            }

            label {
              display: flex;
              align-items: center;
              justify-content: space-between;
              line-height: 61px;
              cursor: pointer;
              border-left: 3px solid $colorMain;

              .StrokeDown {
                display: none;
                width: 10px;
                height: 6px;
              }

              .StrokeUp {
                display: block;
                width: 10px;
                height: 6px;
              }
            }

            input {
              display: none;
            }

            input:checked~label {
              border-left: 3px solid white;
            }

            input:checked~label .StrokeDown {
              display: block;
            }

            input:checked~label .StrokeUp {
              display: none;
            }

            input:checked~.dropdown {
              display: none;
            }

            .dropdown {
              gap: 10px;

              a {
                color: $colorTopNavBar;
                line-height: 61px;
              }
            }
          }

          .bottom-menu-element {
            display: flex;


            .language,
            .social-icons {
              display: flex;
              width: 50%;
              margin: 25px;
              gap: 10px;

              a,
              label {
                padding: 0;
              }
            }

            .language {
              justify-content: flex-end;
              font-weight: 600;
              font-size: 18px;
              line-height: 120%;

              input {
                display: none;
              }

              input:checked+label {
                color: #495471;
              }

              label {
                color: #D9D9D9;
                cursor: pointer;
              }
            }

          }
        }
      }
    }

    .bottom-menu {
      display: flex;
      justify-content: flex-end;
      gap: 25px;
      width: calc(100% - 265px);
      height: 100%;
      color: #1C1A1B;
      font-weight: bold;

      li {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          color: $colorMain;
        }

        // label {
        //   display: flex;
        //   cursor: pointer;
        // }

        img {
          padding: 0 0 0 7px;
          width: 10.12px;
          height: 6.12px;

          &.StrokeUp {
            display: none;
          }
        }


        .menu-dropdown {
          display: none;
          justify-content: center;
          position: absolute;
          height: 100vh;
          width: 100%;
          top: 170px;
          left: 0;
          background: rgba(0, 0, 0, 0.5);

          .menu-dropdown-content {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            width: 1290px;
            height: fit-content;
            padding: 20px;
            border-radius: 0 0 10px 10px;
            background: white;

            >div {
              display: flex;
              flex-direction: column;
              width: 30%;
              color: #1C1A1B;

              h3 {
                font-size: 18px;
                line-height: 22px;

              }
              img {
                padding: 0;
                height: 175px;
                width: 370px;
                border-radius: 5px;

              }
            }
          }
        }

        &:hover>.menu-dropdown {
          display: flex;
        }

        &:hover .StrokeDown {
          display: none;
        }

        &:hover .StrokeUp {
          display: block;
        }
      }

      // li:hover ~ li .menu-dropdown {
      //   display: flex;
      // }
    }
  }
}

.content {
  display: flex;

  img {
    max-width: 100%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background: $colorVstu;
  color: $colorTopNavBar;
  padding-top: 20px;

  section {
    display: flex;

    .section-content {
      display: flex;
      padding: 40px 10%;
      width: 100%;

      &.padding-0 {
        padding: 0 10%;
        width: 100%;
      }

      .separator {
        width: 100%;
      }
    }

    &.section1 {
      .section-content {
        justify-content: space-between;
        gap: 0 50px;

        &>div {
          min-width: 20%;
          overflow: hidden;
        }

        .footer-menu {
          display: flex;
          flex-direction: column;
          font-size: 16px;
          gap: 20px;

          h3 {
            color: #FFFFFF;
          }

          .bottom-logo {
            display: flex;
            align-items: center;
            //width: 240px;

            img {
              height: 90px;

              &:nth-child(2) {
                height: 45px;
                padding: 8px;
              }
            }

            .logo-text1 {
              color: $colorTopNavBar;
              font-size: 10.6px;
              font-weight: bold;
            }

            .logo-text2 {
              color: #FFFFFF;
              font-size: 14.1px;
              font-weight: bold;
            }
          }

          .address {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .phone-mail {
              display: flex;
              gap: 5px;
              flex-wrap: wrap;
              white-space: nowrap;
              color: #FFFFFF;

              &>div {
                display: flex;
                gap: 5px;

                a {
                  margin-right: 20px;
                  color: #FFFFFF;
                }
              }
            }
          }
        }
      }
    }

    &.adaptive {
      display: none;
    }

    &.section2 {
      .section-content {
        justify-content: space-between;
        gap: 0 50px;

        &>div {
          width: 20%;
        }

        .footer-menu {
          display: flex;
          flex-direction: column;
          font-size: 16px;
          gap: 20px;

          h3 {
            color: #FFFFFF;
          }

          .phoneNumber {
            text-decoration: underline;
          }
        }

        .copyright {
          width: 208px;
          color: $colorCopyright;
          font-size: 14px;
        }
      }
    }

    &.section3 {
      .section-content {

        .language,
        .social-icons {
          display: flex;
          width: 50%;
          gap: 20px;
        }

        .language {
          justify-content: flex-end;

          input {
            display: none;
          }

          input:checked+label {
            color: #FFFFFF;
          }

          label {
            cursor: pointer;
          }
        }
      }
    }

    &.section4 {
      align-items: center;
      justify-content: center;
      background: #fff;
      //height: 114px;

      .section-content {
        flex-wrap: wrap;
        gap: 0 50px;
        width: auto;

        img {
          height: 42px;
        }
      }
    }
  }
}

@media (max-width: 1250px) {

  nav .navbar .nav-menu,
  nav .bottom-navbar .bottom-menu {
    gap: 20px;
  }
}

@media (max-width: 1150px) {
  nav .bottom-navbar .bottom-menu {
    li.hide-1150 {
      display: none;
    }
  }
}

@media (max-width: 1100px) {
  nav .navbar {
    padding: 0 10px;

    .nav-menu {
      gap: 15px;
    }
  }

  nav .bottom-navbar {
    padding: 0 10px;
  }

  footer {
    section {
      .section-content {
        //padding: 0 20px;
      }

      .section-content.padding-0 {
        padding: 20px 10px;
      }

      &.section4 {
        padding: 30px 0;

        .section-content {
          gap: 30px;
        }
      }
    }
  }
}


@media (max-width: 1000px) {
  nav {
    .navbar {
      .nav-menu {
        li.hide-768 {
          display: none;
        }
      }
    }

    .bottom-navbar {
      .burger {
        display: flex;

        .menu {
          display: none;
          //flex-direction: column;
          justify-content: flex-end;
          position: absolute;
          top: 170px;
          left: 0;
          //min-height: 80vh;
          width: 100%;
          background: rgba(0, 0, 0, 0.5);



          .menu-content {
            display: flex;
            flex-direction: column;
            width: 50%;
            background: #FFFFFF;

            .menu-header {
              box-shadow: inset 0 30px 30px -30px rgba(201, 201, 201, 0.2);
            }


            .menu-element .dropdown {
              display: flex;
              flex-direction: column;
            }

          }
        }

        input:checked~.menu {
          display: flex;
        }
      }

      .bottom-menu {
        display: none;
      }
    }
  }

  footer section {


    &.section1 .section-content {
      .footer-menu {
        display: none;

        &:nth-child(1) {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          width: 100%;
          //margin-top: 40px;

          .bottom-logo {
            height: 103px;
            width: 50%;
          }

          .address {
            width: 371px;
            height: 143px;
            line-height: 24.48px;
            text-align: right;

            .phone-mail {
              justify-content: end;
              margin-right: 5px;
            }
          }
        }
      }
    }

    &.adaptive {
      display: flex;

      .section-content {
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 30px;

        .footer-menu {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 32%;
          padding-bottom: 20px;

          label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            height: 72px;
            background: #495471;
            border-radius: 5px;
            cursor: pointer;

            .StrokeDown {
              display: none;
            }

            .StrokeUp {
              display: block;
            }
          }

          input {
            display: none;
          }

          input:checked~label .StrokeDown {
            display: block;
          }

          input:checked~label .StrokeUp {
            display: none;
          }

          input:checked~.dropdown {
            display: none;
          }

          &>div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-left: 20px;
          }
        }

        .phoneNumber {
          text-decoration: underline;
        }
      }
    }

    &.section2 .section-content {
      .footer-menu {
        display: none;
      }

      .copyright {
        width: 100%;
        text-align: center;
      }
    }

    &.section3 {
      padding: 0 0 20px 0;
    }
  }
}


@media (max-width: 768px) {
  nav .bottom-navbar .burger .menu .menu-content {
    width: 100%;
  }

  footer section {

    &.section1 .section-content {
      .footer-menu {
        display: none;

        &:nth-child(1) {
          display: flex;
          justify-content: space-between;
          width: auto;
          //margin-top: 40px;

          .bottom-logo {
            height: 103px;
            width: 50%;
          }

          .address {
            height: auto;
            width: auto;
            line-height: 24.48px;
            text-align: right;

            .phone-mail {
              white-space: inherit;

              a {
                margin: 0;
              }
            }
          }
        }
      }
    }

    &.section4 .section-content {
      gap: 30px;

      a {
        width: 320px;
      }
    }
  }
}

@media (max-width: 480px) {
  nav {
    .navbar {
      //height: 44px;

      .nav-logo {
        font-size: 14px;
      }

      .nav-menu {
        li.hide-480 {
          display: none;
        }
      }
    }

    .bottom-navbar .burger .menu .menu-content .menu-header {
      display: none;
    }
  }

  footer section {
    &.section1 .section-content .footer-menu:nth-child(1) {
      flex-direction: column;
      align-items: center;

      .bottom-logo {
        width: 240px;
      }

      .address {
        text-align: center;

        .phone-mail {
          justify-content: center;
          margin: 0;

          div:nth-child(2) {
            margin-left: 15px;
          }
        }
      }
    }

    &.adaptive .section-content {
      flex-direction: column;

      .footer-menu {
        width: 100%;
      }
    }

    &.section4 .section-content a {
      width: auto;
    }
  }
}