@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
html,
body,
p {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: #C1C4CA;
}

ul {
  list-style: none;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #434C63;
  padding: 0 10%;
  height: 48px;
  color: #C1C4CA;
}
nav .navbar .nav-logo {
  display: flex;
  font-size: 15px;
}
nav .navbar .nav-menu {
  display: flex;
  justify-content: flex-end;
  gap: 38px;
  font-size: 14px;
  white-space: nowrap;
}
nav .navbar .nav-menu li,
nav .navbar .nav-menu a {
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav .bottom-navbar {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0 10%;
  height: 122px;
  color: #2E2E2E;
  box-shadow: 2px 8px 30px rgba(201, 201, 201, 0.2);
}
nav .bottom-navbar .bottom-logo {
  display: flex;
  align-items: center;
}
nav .bottom-navbar .bottom-logo img {
  height: 90px;
}
nav .bottom-navbar .bottom-logo img:nth-child(2) {
  height: 45px;
  padding: 8px;
}
nav .bottom-navbar .bottom-logo .bottom-text1 {
  color: #8A2BE2;
  font-size: 10.6px;
  font-weight: bold;
}
nav .bottom-navbar .bottom-logo .bottom-text2 {
  color: #2E2E2E;
  font-size: 14.1px;
  font-weight: bold;
}
nav .bottom-navbar .burger {
  display: none;
  width: 32px;
  height: 32px;
  padding: 0 0 0 calc(100% - 265px);
}
nav .bottom-navbar .burger input {
  display: none;
}
nav .bottom-navbar .burger img {
  display: flex;
  width: 30px;
  height: 18px;
  cursor: pointer;
}
nav .bottom-navbar .burger img.unchecked {
  display: none;
}
nav .bottom-navbar .burger input:checked ~ .unchecked {
  display: flex;
}
nav .bottom-navbar .burger input:checked ~ .checked {
  display: none;
}
nav .bottom-navbar .burger .menu .menu-content a,
nav .bottom-navbar .burger .menu .menu-content h1,
nav .bottom-navbar .burger .menu .menu-content label {
  color: #1C1A1B;
  padding: 0 30px;
  font-size: 18px;
  line-height: 21px;
}
nav .bottom-navbar .burger .menu .menu-content .menu-header {
  display: flex;
  align-items: center;
}
nav .bottom-navbar .burger .menu .menu-content .menu-header h1 {
  font-size: 28px;
  line-height: 39px;
  color: #1E2329;
  width: 100px;
}
nav .bottom-navbar .burger .menu .menu-content .menu-header .feedback {
  width: calc(100% - 100px);
  color: #C4C4C4;
  text-align: right;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element {
  border: 0 1px solid #FAFAFA;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element > a {
  display: block;
  line-height: 61px;
  background: #FAFAFA;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 61px;
  cursor: pointer;
  border-left: 3px solid #8A2BE2;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element label .StrokeDown {
  display: none;
  width: 10px;
  height: 6px;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element label .StrokeUp {
  display: block;
  width: 10px;
  height: 6px;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element input {
  display: none;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element input:checked ~ label {
  border-left: 3px solid white;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element input:checked ~ label .StrokeDown {
  display: block;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element input:checked ~ label .StrokeUp {
  display: none;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element input:checked ~ .dropdown {
  display: none;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element .dropdown {
  gap: 10px;
}
nav .bottom-navbar .burger .menu .menu-content .menu-element .dropdown a {
  color: #C1C4CA;
  line-height: 61px;
}
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element {
  display: flex;
}
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element .language,
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element .social-icons {
  display: flex;
  width: 50%;
  margin: 25px;
  gap: 10px;
}
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element .language a,
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element .language label,
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element .social-icons a,
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element .social-icons label {
  padding: 0;
}
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element .language {
  justify-content: flex-end;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
}
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element .language input {
  display: none;
}
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element .language input:checked + label {
  color: #495471;
}
nav .bottom-navbar .burger .menu .menu-content .bottom-menu-element .language label {
  color: #D9D9D9;
  cursor: pointer;
}
nav .bottom-navbar .bottom-menu {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  width: calc(100% - 265px);
  height: 100%;
  color: #1C1A1B;
  font-weight: bold;
}
nav .bottom-navbar .bottom-menu li {
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav .bottom-navbar .bottom-menu li:hover {
  color: #8A2BE2;
}
nav .bottom-navbar .bottom-menu li img {
  padding: 0 0 0 7px;
  width: 10.12px;
  height: 6.12px;
}
nav .bottom-navbar .bottom-menu li img.StrokeUp {
  display: none;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown {
  display: none;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 170px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1290px;
  height: fit-content;
  padding: 40px;
  border-radius: 0 0 10px 10px;
  background: white;
  box-shadow: inset 0 30px 30px -30px rgba(201, 201, 201, 0.2);
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .h3 {
  color: black;
  font-family: "Montserrat";
  /*               font-size: 18px;
  line-height: 18px; */
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div {
  display: flex;
  flex-direction: column;
  width: calc((100% - 80px) / 3);
  color: #1C1A1B;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div img {
  padding: 0;
  margin-top: 15px;
  height: 175px;
  width: 100%;
  border-radius: 5px;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div p {
  margin-top: 15px;
  font-size: 14px;
  line-height: 140%;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div a {
  line-height: 19px;
  padding: 18px 0;
  border-bottom: 1px solid #D9D9D9;
  color: black;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div a:hover {
  color: #8A2BE2;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element {
  display: flex;
  height: 100%;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language,
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .social-icons {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 50%;
  gap: 10px;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language a,
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language label,
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .social-icons a,
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .social-icons label {
  padding: 0;
  border: 0;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language a img,
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language label img,
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .social-icons a img,
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .social-icons label img {
  height: 18px;
  width: 24px;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language {
  justify-content: flex-end;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language input {
  display: none;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language input:checked + label {
  color: #495471;
}
nav .bottom-navbar .bottom-menu li .menu-dropdown .menu-dropdown-content .dropdown-content > div .social-element .language label {
  color: #D9D9D9;
  cursor: pointer;
}
nav .bottom-navbar .bottom-menu li:hover > .menu-dropdown {
  display: flex;
}
nav .bottom-navbar .bottom-menu li:hover .StrokeDown {
  display: none;
}
nav .bottom-navbar .bottom-menu li:hover .StrokeUp {
  display: block;
}

.content {
  display: flex;
}
.content img {
  max-width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  background: #434C63;
  color: #C1C4CA;
  padding-top: 20px;
}
footer section {
  display: flex;
}
footer section .section-content {
  display: flex;
  padding: 40px 10%;
  width: 100%;
}
footer section .section-content.padding-0 {
  padding: 0 10%;
  width: 100%;
}
footer section .section-content .separator {
  width: 100%;
}
footer section.section1 .section-content {
  justify-content: space-between;
  gap: 0 50px;
}
footer section.section1 .section-content > div {
  min-width: 20%;
  overflow: hidden;
}
footer section.section1 .section-content .footer-menu {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 20px;
}
footer section.section1 .section-content .footer-menu h3 {
  color: #FFFFFF;
}
footer section.section1 .section-content .footer-menu .bottom-logo {
  display: flex;
  align-items: center;
}
footer section.section1 .section-content .footer-menu .bottom-logo img {
  height: 90px;
}
footer section.section1 .section-content .footer-menu .bottom-logo img:nth-child(2) {
  height: 45px;
  padding: 8px;
}
footer section.section1 .section-content .footer-menu .bottom-logo .logo-text1 {
  color: #C1C4CA;
  font-size: 10.6px;
  font-weight: bold;
}
footer section.section1 .section-content .footer-menu .bottom-logo .logo-text2 {
  color: #FFFFFF;
  font-size: 14.1px;
  font-weight: bold;
}
footer section.section1 .section-content .footer-menu .address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer section.section1 .section-content .footer-menu .address .phone-mail {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  white-space: nowrap;
  color: #FFFFFF;
}
footer section.section1 .section-content .footer-menu .address .phone-mail > div {
  display: flex;
  gap: 5px;
}
footer section.section1 .section-content .footer-menu .address .phone-mail > div a {
  margin-right: 20px;
  color: #FFFFFF;
}
footer section.adaptive {
  display: none;
}
footer section.section2 .section-content {
  justify-content: space-between;
  gap: 0 50px;
}
footer section.section2 .section-content > div {
  width: 20%;
}
footer section.section2 .section-content .footer-menu {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 20px;
}
footer section.section2 .section-content .footer-menu h3 {
  color: #FFFFFF;
}
footer section.section2 .section-content .footer-menu .phoneNumber {
  text-decoration: underline;
}
footer section.section2 .section-content .copyright {
  width: 208px;
  color: #6B758F;
  font-size: 14px;
}
footer section.section3 .section-content .language,
footer section.section3 .section-content .social-icons {
  display: flex;
  width: 50%;
  gap: 20px;
}
footer section.section3 .section-content .language {
  justify-content: flex-end;
}
footer section.section3 .section-content .language input {
  display: none;
}
footer section.section3 .section-content .language input:checked + label {
  color: #FFFFFF;
}
footer section.section3 .section-content .language label {
  cursor: pointer;
}
footer section.section4 {
  align-items: center;
  justify-content: center;
  background: #fff;
}
footer section.section4 .section-content {
  flex-wrap: wrap;
  gap: 0 50px;
  width: auto;
}
footer section.section4 .section-content img {
  height: 42px;
}

@media (max-width: 1250px) {
  nav .navbar .nav-menu,
nav .bottom-navbar .bottom-menu {
    gap: 20px;
  }

  footer section .section-content {
    padding: 20px 5%;
  }
}
@media (max-width: 1150px) {
  nav .bottom-navbar .bottom-menu li.hide-1150 {
    display: none;
  }
}
@media (max-width: 1100px) {
  nav .navbar {
    padding: 0 10px;
  }
  nav .navbar .nav-menu {
    gap: 15px;
  }

  nav .bottom-navbar {
    padding: 0 10px;
  }

  footer section .section-content.padding-0 {
    padding: 20px 10px;
  }
  footer section.section4 {
    padding: 30px 0;
  }
  footer section.section4 .section-content {
    gap: 30px;
  }
}
@media (max-width: 1000px) {
  nav .navbar .nav-menu li.hide-768 {
    display: none;
  }
  nav .bottom-navbar .burger {
    display: flex;
  }
  nav .bottom-navbar .burger .menu {
    display: none;
    justify-content: flex-end;
    position: absolute;
    top: 170px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  nav .bottom-navbar .burger .menu .menu-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    background: #FFFFFF;
  }
  nav .bottom-navbar .burger .menu .menu-content .menu-header {
    box-shadow: inset 0 30px 30px -30px rgba(201, 201, 201, 0.2);
  }
  nav .bottom-navbar .burger .menu .menu-content .menu-element .dropdown {
    display: flex;
    flex-direction: column;
  }
  nav .bottom-navbar .burger input:checked ~ .menu {
    display: flex;
  }
  nav .bottom-navbar .bottom-menu {
    display: none;
  }

  footer section .section-content {
    padding: 20px 20px;
  }
  footer section.section1 .section-content .footer-menu {
    display: none;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .bottom-logo {
    height: 103px;
    width: 50%;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .address {
    width: 371px;
    height: 143px;
    line-height: 24.48px;
    text-align: right;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .address .phone-mail {
    justify-content: end;
    margin-right: 5px;
  }
  footer section.adaptive {
    display: flex;
  }
  footer section.adaptive .section-content {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  footer section.adaptive .section-content .footer-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 32%;
    padding-bottom: 20px;
  }
  footer section.adaptive .section-content .footer-menu label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 72px;
    background: #495471;
    border-radius: 5px;
    cursor: pointer;
  }
  footer section.adaptive .section-content .footer-menu label .StrokeDown {
    display: none;
  }
  footer section.adaptive .section-content .footer-menu label .StrokeUp {
    display: block;
  }
  footer section.adaptive .section-content .footer-menu input {
    display: none;
  }
  footer section.adaptive .section-content .footer-menu input:checked ~ label .StrokeDown {
    display: block;
  }
  footer section.adaptive .section-content .footer-menu input:checked ~ label .StrokeUp {
    display: none;
  }
  footer section.adaptive .section-content .footer-menu input:checked ~ .dropdown {
    display: none;
  }
  footer section.adaptive .section-content .footer-menu > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
  }
  footer section.adaptive .section-content .phoneNumber {
    text-decoration: underline;
  }
  footer section.section2 .section-content .footer-menu {
    display: none;
  }
  footer section.section2 .section-content .copyright {
    width: 100%;
    text-align: center;
  }
  footer section.section3 {
    padding: 0 0 20px 0;
  }
}
@media (max-width: 768px) {
  nav .bottom-navbar .burger .menu .menu-content {
    width: 100%;
  }

  footer section.section1 .section-content .footer-menu:nth-child(1) {
    width: auto;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .address {
    height: auto;
    width: auto;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .address .phone-mail {
    white-space: inherit;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .address .phone-mail a {
    margin: 0;
  }
  footer section.adaptive .section-content .footer-menu:nth-child(4),
footer section.adaptive .section-content .footer-menu:nth-child(5),
footer section.adaptive .section-content .footer-menu:nth-child(6) {
    width: 49%;
  }
  footer section.section4 .section-content {
    gap: 30px;
  }
  footer section.section4 .section-content a {
    width: 320px;
  }
}
@media (max-width: 480px) {
  nav .navbar .nav-logo {
    font-size: 14px;
  }
  nav .navbar .nav-menu li.hide-480 {
    display: none;
  }
  nav .bottom-navbar .burger .menu .menu-content .menu-header {
    display: none;
  }

  footer section.section1 .section-content .footer-menu:nth-child(1) {
    flex-direction: column;
    align-items: center;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .bottom-logo {
    width: 240px;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .address {
    text-align: center;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .address .phone-mail {
    justify-content: center;
    margin: 0;
  }
  footer section.section1 .section-content .footer-menu:nth-child(1) .address .phone-mail div:nth-child(2) {
    margin-left: 15px;
  }
  footer section.adaptive .section-content {
    flex-direction: column;
  }
  footer section.adaptive .section-content .footer-menu {
    width: 100% !important;
  }
  footer section.section4 .section-content a {
    width: auto;
  }
}

/*# sourceMappingURL=style.css.map */
